.pop-up.pop-up-pls#popup-add-template-pls
  form#add-template-pls-form(method="POST" action="/base/shields/grids/templates/addTemplate" enctype="multipart/form-data")
    input(type="hidden" name="group_id" value='' required)
    .pop-up-close-wrap
      a(class="pop-up-close", href="#")
    span.pop-up-header
      =i18n.__('Add')
    .row
      .col-md-6
        img.pls-image(src="/local_storage/default.png")
      .col-md-6
        input.hidden.pls-image-file(type="file" name="pls_img")
        input.add-image-btn(type="button" value=i18n.__('Add'))
    .pop-up-pls-rows 
      .row-name.pls-row 
        .title-name.title
          =i18n.__('Name')
          | :
        input.input-default.text-name(type="text" value="" name="name" required)
      .row-position.pls-row 
        .title-position.title
          =i18n.__('Position')
          | :
        input.input-default.text-position(style="width: 50px;" type="number" value="" name="position" required)
      .row-work-price.pls-row 
        .title-work-price.title
          =i18n.__('pls_make_price')
          | :
        input.input-default.text-work-price(style="width: 50px;" type="number" value="" name="work_price" step="0.01")
      .row-open-type.pls-row 
        .title-open-type.title
          =i18n.__('pls_open_type')
          | :
        select.select-default.select-open-type(style="width: 500px;" name="open_type" required)
          option(value="1")=i18n.__('Window')
          option(value="2")=i18n.__('pls_stulp')
          option(value="3")=i18n.__('pls_sliding')
          option(value="4")=i18n.__('pls_threshold')
          option(value="5")=i18n.__('pls_stulp_threshold')
      .row-direction.pls-row 
        .title-direction.title
          =i18n.__('Direction of opening')
          | :
        select.select-default.select-direction(style="width: 500px;" name="direction" required)
          option(value="1")=i18n.__('pls_left')
          option(value="2")=i18n.__('pls_right')
          option(value="3")=i18n.__('pls_sides')
          option(value="4")=i18n.__('pls_center')
          option(value="5")=i18n.__('pls_down')
      
      .row-default-w.pls-row 
        .title-default-w.title
          =i18n.__('pls_start_width') + ' ' + i18n.__('mm')
          | :
        input.input-default.text-default-w(style="width: 50px;" type="number" value="" name="default_w" required)
      .row-default-h.pls-row 
        .title-default-h.title
          =i18n.__('pls_start_height') + ' ' + i18n.__('mm')
          | :
        input.input-default.text-default-h(style="width: 50px;" type="number" value="" name="default_h" required)
      .row-templates-links
      
    .row.block-center.text-center
      input.btn-submit(type="submit" value=i18n.__('Add'))
