extends ../layout

block content
  .main-nav
    .nav-link
      a(class="external-link", href="/")= i18n.__('Dashboard') 
      | 
      | -> 
      span#nav-text
        =i18n.__('Options')
      img.loader-ico(src="/assets/images/loader_ico.GIF")
  .main-select-option
    select(id="lamination-select", name="", class="select-default selected-option", style="width: 180px;")
      option(value="1" selected)=i18n.__('Lamination')
      option(value="2")=i18n.__('Discounts')
      option(value="3")=i18n.__('Coefficients')
      option(value="8")=i18n.__('Suppliers')
      option(value="9")=i18n.__('Currency')
      option(value="10")=i18n.__('General options')
      option(value="11")=i18n.__('Application options')
      option(disabled)=i18n.__('Groups')
      option(value="4")=i18n.__('Glazed window')
      option(value="5")=i18n.__('Window sills')
      option(value="6")=i18n.__('Spillways')
      option(value="7")=i18n.__('Visors')
      option(value="12")=i18n.__('Connectors')
      option(value="13")=i18n.__('Mosquitos')
      option(value="14")=i18n.__('Doorhandles')
      option(value="15")=i18n.__('Decors')
  form(method='post', action='/base/option/save', id="main-form")
    .lamination-option.checked-option
      .main-content
        .content-wrap
          .lamination-color-items
            .lamination-color.default-white
              input(id="checkbox00001", type="checkbox", value=1, disabled, checked)
              label(for="checkbox00001")
                =i18n.__('White')
              br
              img(src="/assets/images/lamination_colors/white.jpg", class="b-img-radius" width="200", height="70")
            if (laminationsFactory)
              - var defaults = []
              each laminationFactory in laminationsFactory
                - defaults.push(laminationFactory.lamination_default_color.id)
                .lamination-color
                  input.laminations-cb(id="checkbox" + laminationFactory.id, type="checkbox", data-delete-lamin=laminationFactory.id, value=laminationFactory.lamination_default_color.id, checked)
                  label(for="checkbox" + laminationFactory.id)
                    .editable-lamination
                      =laminationFactory.name
                  br
                  img(src=laminationFactory.lamination_default_color.url, class="b-img-radius" width="200", height="160")
                  .country-check-lamination
                    each country in countries 
                      .country-item
                        input(type="checkbox", id="country-checkbox" + country.id + laminationFactory.id, name="checkLamination", data-lamination-id=laminationFactory.id, value=country.id, checked=laminationFactory.country_ids.includes(country.id)?true:false)
                        label(for="country-checkbox" + country.id + laminationFactory.id) 
                          =country.name
            each laminationColor in laminationsDefault
              if (defaults.indexOf(laminationColor.id) < 0)
                if (laminationColor.id !== 1)
                  .lamination-color
                    input.laminations-cb(id="checkbox00" + laminationColor.id, type="checkbox", value=laminationColor.id)
                    label(for="checkbox00" + laminationColor.id)
                      .editable-lamination
                        =laminationColor.name
                    br
                    img(src=laminationColor.url, class="b-img-radius" width="200", height="160")
      .content-footer
        #content-footer-save-lamination
          a(class="external-link", href="#", id="saveBtn", )
            span#saveBtnText
              =i18n.__('Save')
