extends ../layout

block content
  .main-nav
    .nav-link
      a(class="external-link" href="/")= i18n.__('Dashboard') 
      | 
      | -> 
      span#nav-text
        =i18n.__('Options')
      img.loader-ico(src="/assets/images/loader_ico.GIF")
  .main-select-option
    select(id="lamination-select" name="" class="select-default selected-option" style="width: 180px;")
      option(value="1")=i18n.__('Lamination')
      option(value="2")=i18n.__('Discounts')
      option(value="3")=i18n.__('Coefficients')
      option(value="8")=i18n.__('Suppliers')
      option(value="9")=i18n.__('Currency')
      option(value="10")=i18n.__('General options')
      option(value="11")=i18n.__('Application options')
      option(disabled)=i18n.__('Groups')
      option(value="4")=i18n.__('Glazed window')
      option(value="5")=i18n.__('Window sills')
      option(value="6")=i18n.__('Spillways')
      option(value="7")=i18n.__('Visors')
      option(value="12")=i18n.__('Connectors')
      option(value="13")=i18n.__('Mosquitos')
      option(value="14")=i18n.__('Doorhandles')
      option(value="15")=i18n.__('Decors')
      option(value="17")=i18n.__('Technological holes')
      option(value="16")=i18n.__('Others')
      option(value="18" selected)=i18n.__('Presets')
      option(value="19")=i18n.__('Reinforcement')
  form(method='post' action='/base/option/save' id="main-form")
    .presets-container 
      .presets-folders
        each presetsFolder in presetsFolders
          .preset-folder
            .name-folder 
              =presetsFolder.name
              span
                = ' (' + i18n.__('Position')
                = ' ' + presetsFolder.position  + ') '
            .edit-folder-wrap 
              .edit-presets-folder-btn(data-set-folder=presetsFolder.id) 
                =i18n.__('Edit')
              .delete-presets-folder-btn(data-set-folder=presetsFolder.id) 
                =i18n.__('Remove')
            .preset-set-container
              .preset-set.header
                span
                  =i18n.__('Name')
                span.name2
                  =i18n.__('Position')
                span
                  =i18n.__('Profile')
                span
                  =i18n.__('Hardware')
                span
                  =i18n.__('Glass')
                span
                  =i18n.__('Description')
              each presetsSet in presetsSets
                if (presetsFolder.id === presetsSet.categories_sets_id)
                  - var findConfig = presetsConfig.find(function(config){return config.sets_id == presetsSet.id})
                  .preset-set
                    span.preset-set-name 
                      =presetsSet.name
                    span.preset-set-position 
                      =presetsSet.position 
                    span.preset-set-profile
                      =findConfig ? findConfig.profile_name : i18n.__('Not exist')
                    span.preset-set-hardware
                      =findConfig ? findConfig.hardware_name : i18n.__('Not exist')
                    span.preset-set-glass
                      =findConfig ? findConfig.glass_name : i18n.__('Not exist')
                    span.preset-set-description
                      =presetsSet.description
                    .is-visible
                      input(type="checkbox" id="presets-checkbox" + presetsSet.id, name="checkPreset", value=presetsSet.id, checked=(presetsSet.is_visible == 1) ? true : false)
                      label(for="presets-checkbox" + presetsSet.id) 
                        =i18n.__('Active')
                    //- .is-sliding
                    //-   input(type="checkbox" id="presets-sliding-checkbox" + presetsSet.id, name="checkPresetSliding", value=presetsSet.id, checked=(presetsSet.is_sliding) ? true : false)
                    //-   label(for="presets-sliding-checkbox" + presetsSet.id) 
                    //-     =i18n.__('sliding')
                    .is-sliding(data-id=presetsSet.id)
                      input.sliding_input(type="checkbox", id="presets-sliding-checkbox" + presetsSet.id, value="0", checked=(presetsSet.is_sliding == 0) ? true : false)
                      label(for="presets-sliding-checkbox" + presetsSet.id)
                        =i18n.__('NS')
                      input.sliding_input(type="checkbox", id="presets-sliding-checkbox" + presetsSet.id, value="1", checked=(presetsSet.is_sliding == 1) ? true : false)
                      label(for="presets-sliding-checkbox" + presetsSet.id) 
                        =i18n.__('S1')
                      input.sliding_input(type="checkbox", id="presets-sliding-checkbox" + presetsSet.id, value="2", checked=(presetsSet.is_sliding == 2) ? true : false)
                      label(for="presets-sliding-checkbox" + presetsSet.id) 
                        =i18n.__('S2')
                    .btns-wrap
                      .edit-set(data-set-data-id=findConfig?findConfig.id:0, data-set=presetsSet.id, data-categories-id=presetsFolder.id) 
                        =i18n.__('Edit')
                      .delete-set(data-set-data-id=findConfig?findConfig:0, data-set=presetsSet.id, data-categories-id=presetsFolder.id)
                        =i18n.__('Remove')
            .add-preset-wrap 
              .add-preset-btn(data-set-folder=presetsFolder.id)  
                =i18n.__('Add set')
      .add-group-presets-wrap 
        .add-group-presets-btn
          =i18n.__('Add group +')
  include includes/presets-edit-sets.jade
  include includes/presets-edit-folder.jade
  include includes/presets-add-set.jade
  include includes/presets-add-folder.jade
  include includes/presets-delete-sets.jade
  include includes/presets-delete-folder.jade


