extends ../layout

block content
  .main-nav
    .nav-link
      a(class="external-link", href="/")= i18n.__('Dashboard') 
      | 
      | -> 
      span#nav-text
        =i18n.__('Options')
      img.loader-ico(src="/assets/images/loader_ico.GIF")
  .main-select-option
    select(id="lamination-select", name="", class="select-default selected-option", style="width: 180px;")
      option(value="1")=i18n.__('Lamination')
      option(value="2")=i18n.__('Discounts')
      option(value="3")=i18n.__('Coefficients')
      option(value="8")=i18n.__('Suppliers')
      option(value="9")=i18n.__('Currency')
      option(value="10")=i18n.__('General options')
      option(value="11")=i18n.__('Application options')
      option(disabled)=i18n.__('Groups')
      option(value="4")=i18n.__('Glazed window')
      option(value="5")=i18n.__('Window sills')
      option(value="6")=i18n.__('Spillways')
      option(value="7")=i18n.__('Visors')
      option(value="12")=i18n.__('Connectors')
      option(value="13")=i18n.__('Mosquitos')
      option(value="14")=i18n.__('Doorhandles')
      option(value="15")=i18n.__('Decors')
      option(value="17")=i18n.__('Technological holes')
      option(value="16")=i18n.__('Others')
      option(value="18")=i18n.__('Presets')
      option(value="19" selected)=i18n.__('Reinforcement')

  .main-content-armir
    .armir-countainer 
      .armir-container-title 
        .armir-title
          span.armir-title
            =i18n.__('Type')
              | &nbsp;
            =i18n.__('Reinforcement')
          span.armir-subtitle 
            =i18n.__('priority')  
      each armir in armir_list
        .armir-item(data-reinforcement=armir.id)
          .armir-name(id=armir.id)
            =armir.name
          .armir-priority(id=armir.id)
            =armir.priority
          .btn-remove(data-reinforcement=armir.id)
           ="+"
      .add-armir 
        =i18n.__('Add +')

    .profile-system-coutainer 
      each item in content
        .profile-item-block
          .title-block
            .profile-system-name 
              =item.profile_name
            each rule,index in item.rules
              .info
                =rule.name
               if (index + 1) % 4 === 0
                  hr 
          each parametrs,index in item.parametrs    
            .armir-parametr
              .name-armir 
                =item.types[index].name
              each parametr,index2 in parametrs
                .parametr(id=parametr.id, profile_id=parametr.profile_systems_id, type=parametr.reinforcement_type_id, rule=parametr.rules_reinforcement_id)
                  =(parametr.range == 0 ? 0 : parametr.range-1) 
                if (index2 + 1) % 4 === 0
                    hr 
  include includes/options-add-new-reinforcement.jade
  include includes/alert-delete-reinforcement.jade
