extends ../layout

block content
  .main-nav
    .nav-link
      a(class="external-link", href="/")= i18n.__('Dashboard') 
      | 
      | -> 
      span#nav-text
        =i18n.__('Options')
      img.loader-ico(src="/assets/images/loader_ico.GIF")
  .main-select-option
    select(id="lamination-select", name="", class="select-default selected-option", style="width: 180px;")
      option(value="1")=i18n.__('Lamination')
      option(value="2")=i18n.__('Discounts')
      option(value="3")=i18n.__('Coefficients')
      option(value="8")=i18n.__('Suppliers')
      option(value="9")=i18n.__('Currency')
      option(value="10")=i18n.__('General options')
      option(value="11")=i18n.__('Application options')
      option(disabled)=i18n.__('Groups')
      option(value="4")=i18n.__('Glazed window')
      option(value="5")=i18n.__('Window sills')
      option(value="6" selected)=i18n.__('Spillways')
      option(value="7")=i18n.__('Visors')
      option(value="12")=i18n.__('Connectors')
      option(value="13")=i18n.__('Mosquitos')
      option(value="14")=i18n.__('Doorhandles')
      option(value="15")=i18n.__('Decors')
  form(method='post', action='/base/option/save', id="main-form")
    .spillways-option.checked-option
      .main-header
        span.header
          =i18n.__('Spillways groups')
      .main-content
        table.spillway-folders-table(cellspasing="0", cellpadding="0", border="0")
          if (spillwaysFolders.length)
            each spillwaysFolder in spillwaysFolders
              tr.folder-tr
                td.folder-name
                  span.folder-text
                    =spillwaysFolder.name
                td.folder-img
                  .glass-img-wraper
                    img(src=(spillwaysFolder.img ? spillwaysFolder.img : '/local_storage/default.png'), alt="")
                td.folder-description
                  =i18n.__('Description')
                  | :
                  .description-wraper
                    =spillwaysFolder.description
                  .edit-wrap
                    .spillway-folder-delete.btn-delete-folder(data-folder=spillwaysFolder.id)
                    .spillway-folder-edit.btn-edit-folder(data-folder=spillwaysFolder.id)
              tr.country-check
                each country in countries 
                  td.country-item-spillways
                    input(type="checkbox", id="country-checkbox" + country.id + spillwaysFolder.id, name="checkAddElems", data-addElems-id=spillwaysFolder.id, value=country.id, checked=spillwaysFolder.country_ids.includes(country.id)?true:false)
                    label(for="country-checkbox" + country.id + spillwaysFolder.id) 
                      =country.name
          else
            tr.folder-tr
              td.folder-not-exist(calspan="4")
                span.folder-add-text
                  =i18n.__('Empty')
          tr.folder-tr
            td.folder-name.spillway-folder-add
              span.folder-add-text
                =i18n.__("Add +")
  form(method='post', action='/base/option/save', id="main-form")
    .spillways-option.checked-option
      .main-header
        span.header
          =i18n.__('Color')
      .main-content
        table.spillway-folders-table(cellspasing="0", cellpadding="0", border="0")
          if (spillwaysColorsFolders.length)
            each spillwaysColorFolder in spillwaysColorsFolders
              tr.folder-tr
                td.folder-name
                  span.folder-text
                    =spillwaysColorFolder.name
                td.folder-img
                  .glass-img-wraper
                    img(src=(spillwaysColorFolder.img ? spillwaysColorFolder.img : '/local_storage/default.png'), alt="")
                td.folder-description
                  =i18n.__('Description')
                  | :
                  .description-wraper
                    =spillwaysColorFolder.description
                  .edit-wrap
                    .btn-delete-color(data-color=spillwaysColorFolder.id)
                    .btn-edit-color(data-color=spillwaysColorFolder.id)
          else
            tr.folder-tr
              td.folder-not-exist(calspan="4")
                span.folder-add-text
                  =i18n.__('Empty')
          tr.folder-tr
            td.folder-name.color-add
              span.folder-add-text
                =i18n.__("Add +")
  include includes/options-add-new-spillway-folder-popup.jade
  include includes/options-edit-spillway-folder-popup.jade
  include includes/alert-delete-spillway-folder.jade
  include includes/popups/add-color.jade
  include includes/popups/edit-color.jade
  include includes/popups/alert-remove-color.jade
 
