extends ../layout

block content
  .main-nav
    .nav-link
      a(class="external-link", href="/")= i18n.__('Dashboard') 
      | 
      | -> 
      span#nav-text
        =i18n.__('Options')
      img.loader-ico(src="/assets/images/loader_ico.GIF")
  .main-select-option
    select(id="lamination-select", name="", class="select-default selected-option", style="width: 180px;")
      option(value="1")=i18n.__('Lamination')
      option(value="2")=i18n.__('Discounts')
      option(value="3")=i18n.__('Coefficients')
      option(value="8")=i18n.__('Suppliers')
      option(value="9")=i18n.__('Currency')
      option(value="10")=i18n.__('General options')
      option(value="11")=i18n.__('Application options')
      option(disabled)=i18n.__('Groups')
      option(value="4")=i18n.__('Glazed window')
      option(value="5")=i18n.__('Window sills')
      option(value="6")=i18n.__('Spillways')
      option(value="7" selected)=i18n.__('Visors')
      option(value="12")=i18n.__('Connectors')
      option(value="13")=i18n.__('Mosquitos')
      option(value="14")=i18n.__('Doorhandles')
      option(value="15")=i18n.__('Decors')
  form(method='post', action='/base/option/save', id="main-form")
    .visors-option.checked-option
      .main-header
        span.header
          =i18n.__('Visors groups')
      .main-content
        table.visor-folders-table(cellspasing="0", cellpadding="0", border="0")
          if (visorsFolders.length)
            each visorsFolder in visorsFolders
              tr.folder-tr
                td.folder-name
                  span.folder-text
                    =visorsFolder.name
                td.folder-img
                  .glass-img-wraper
                    img(src=(visorsFolder.img ? visorsFolder.img : '/local_storage/default.png'), alt="")
                td.folder-description
                  =i18n.__('Description')
                  | :
                  .description-wraper
                    =visorsFolder.description
                  .edit-wrap
                    .visor-folder-delete.btn-delete-folder(data-folder=visorsFolder.id)
                    .visor-folder-edit.btn-edit-folder(data-folder=visorsFolder.id)
              tr.country-check
                each country in countries 
                  td.country-item-visors
                    input(type="checkbox", id="country-checkbox" + country.id + visorsFolder.id, name="checkAddElems", data-addElems-id=visorsFolder.id, value=country.id, checked=visorsFolder.country_ids.includes(country.id)?true:false)
                    label(for="country-checkbox" + country.id + visorsFolder.id) 
                      =country.name
          else
            tr.folder-tr
              td.folder-not-exist(calspan="4")
                span.folder-add-text
                  =i18n.__('Empty')
          tr.folder-tr
            td.folder-name.visor-folder-add
              span.folder-add-text
                =i18n.__("Add +")
  form(method='post', action='/base/option/save', id="main-form")
    .visors-option.checked-option
      .main-header
        span.header
          =i18n.__('Color')
      .main-content
        table.visor-folders-table(cellspasing="0", cellpadding="0", border="0")
          if (visorsColorsFolders.length)
            each visorsColorFolder in visorsColorsFolders
              tr.folder-tr
                td.folder-name
                  span.folder-text
                    =visorsColorFolder.name
                td.folder-img
                  .glass-img-wraper
                    img(src=(visorsColorFolder.img ? visorsColorFolder.img : '/local_storage/default.png'), alt="")
                td.folder-description
                  =i18n.__('Description')
                  | :
                  .description-wraper
                    =visorsColorFolder.description
                  .edit-wrap
                    .btn-delete-color(data-color=visorsColorFolder.id)
                    .btn-edit-color(data-color=visorsColorFolder.id)
          else
            tr.folder-tr
              td.folder-not-exist(calspan="4")
                span.folder-add-text
                  =i18n.__('Empty')
          tr.folder-tr
            td.folder-name.color-add
              span.folder-add-text
                =i18n.__("Add +")
  include includes/options-add-new-visor-folder-popup.jade
  include includes/options-edit-visor-folder-popup.jade
  include includes/alert-delete-visor-folder.jade
  include includes/popups/add-color.jade
  include includes/popups/edit-color.jade
  include includes/popups/alert-remove-color.jade
