extends ../../layout

block content
  .main-nav
    .nav-link
      a(href="/")=i18n.__('Dashboard') 
      a(href="/base/shields/rolet/rolet")=i18n.__('rol_boxes')
      a(href="/base/shields/rolet/guides")=i18n.__('rol_guides')
      a(href="/base/shields/rolet/endLists")=i18n.__('rol_endcaps')
      a(href="/base/shields/rolet/lamels")=i18n.__('rol_slats')
      a(href="/base/shields/rolet/roletColorsGroups")=i18n.__('rol_colors')
      a(href="/base/shields/rolet/roletPrice")=i18n.__('rol_prices')
      a(href="/base/shields/rolet/roletBoxHeight")=i18n.__('rol_height')
      a(href="/base/shields/rolet/controls")=i18n.__('rol_control')
      span#nav-text
        =i18n.__('rol_mapping')
      a(href="/base/shields/rolet/addElements")=i18n.__('Add. elements')
      img.loader-ico(src="/assets/images/loader_ico.GIF")
  .main-content    
    .titel-page 
    //-   ='Controls :'  
    .block-groups
      if (groups.length > 0)
        each group in groups
          .group-rolet-system-item
            .group-name
              =group.name
            .btns-block
              .btn-active-group.btn-active(data-group=group.id class=!group.is_activ ? 'btn-unactive' : 'btn-active')
              .btn-edit-group(data-group=group.id)
              .btn-delete-group(data-group=group.id)
          .block-systems.block-controls
            if (group.controls && group.controls.length > 0)
              each control in group.controls
                .rolet-system-item
                  .is-standart 
                    span 
                      =i18n.__('Standart')
                    .btn-standart-system.btn-standart(data-control=control.id class=!control.is_standart ? 'btn-unstandart' : 'btn-standart')  
                  .system-img
                    img(src=(control.img ? control.img : '/local_storage/default.png'), alt="")
                  .system-name
                    =control.name
                  .btns-block-item
                    .btn-active-system.btn-active(data-control=control.id class=!control.is_activ ? 'btn-unactive' : 'btn-active')  
                    .btn-edit-system.btn-system(data-control=control.id)
                    .btn-delete-system.btn-system(data-control=control.id)
            .rolet-system-item.btn-add-system(data-group=group.id)
              div
                ='+'
              .btn-add-text 
                =i18n.__('Add')
    .btn-add-group
      =i18n.__('Add group +')
  include popups/add-group-controls.pug
  include popups/add-new-control.pug
  include popups/edit-control.pug
  include popups/edit-group-controls.pug
  include popups/delete-control.pug
  include popups/delete-group-controls.pug
  