extends ../../layout

block content
  .main-nav
    .nav-link
      a(href="/")=i18n.__('Dashboard') 
      a(href="/base/shields/rolet/rolet")=i18n.__('rol_boxes')
      a(href="/base/shields/rolet/guides")=i18n.__('rol_guides')
      a(href="/base/shields/rolet/endLists")=i18n.__('rol_endcaps')
      a(href="/base/shields/rolet/lamels")=i18n.__('rol_slats')
      a(href="/base/shields/rolet/roletColorsGroups")=i18n.__('rol_colors')
      a(href="/base/shields/rolet/roletPrice")=i18n.__('rol_prices')
      a(href="/base/shields/rolet/roletBoxHeight")=i18n.__('rol_height')
      a(href="/base/shields/rolet/controls")=i18n.__('rol_control')
      span#nav-text
        =i18n.__('rol_mapping')
      a(href="/base/shields/rolet/addElements")=i18n.__('Add. elements')
  .main-content
    .controls-box-sizes-table
      .controls-block 
        .header-control
        each crGr in controlGroups
          if (crGr.controls.length > 0)
            .group-wrap
              .control-gr-row 
                .group-cr-name(style="max-width: #{140 * crGr.controls.length}px")
                  =crGr.crGroup.name
              .controls-wrap
                each control in crGr.controls
                  .control-row(data-id=control.id)
                    .cr-name 
                      =control.name
      .groups-box 
        each group in groups
          .group-wrap 
            .group-box-name
              span 
                =group.group.name
            .boxes-box
              each box in group.boxes
                .box-box(data-box-id=box.id)
                  .box-name 
                    =box.name 
                  each box_size in box.sizes
                    .box-size
                      .box-size-name
                        =box_size.height
                        =' / '
                        =box_size.width
                      each crGr in controlGroups
                        if (crGr.controls.length > 0)
                        each control in crGr.controls 
                          .control-box-size-field
                            .rolet-control-box-size-check(data-control-id=control.id data-box-id=box.id data-size-id=box_size.id)                     
                      
    