extends ../../layout

block content
  .main-nav
    .nav-link
      a(href="/")=i18n.__('Dashboard') 
      a(href="/base/shields/rolet/rolet")=i18n.__('rol_boxes')
      a(href="/base/shields/rolet/guides")=i18n.__('rol_guides')
      span#nav-text
        =i18n.__('rol_endcaps')
      a(href="/base/shields/rolet/lamels")=i18n.__('rol_slats')
      a(href="/base/shields/rolet/roletColorsGroups")=i18n.__('rol_colors')
      a(href="/base/shields/rolet/roletPrice")=i18n.__('rol_prices')
      a(href="/base/shields/rolet/roletBoxHeight")=i18n.__('rol_height')
      a(href="/base/shields/rolet/controls")=i18n.__('rol_control')
      a(href="/base/shields/rolet/controlBoxSizes")=i18n.__('rol_mapping')
      a(href="/base/shields/rolet/addElements")=i18n.__('Add. elements')
      img.loader-ico(src="/assets/images/loader_ico.GIF")
  .main-content    
    .titel-page 
      //- ='End lists :'  
    .block-systems.block-end-lists
      if (endLists && endLists.length > 0)
        each list in endLists
          .rolet-system-item
            .system-img
              img(src=(list.img ? list.img : '/local_storage/default.png'), alt="")
            .system-name
              =list.name
            .btns-block-item
              .btn-active-system.btn-active(data-end_list=list.id class=!list.is_activ ? 'btn-unactive' : 'btn-active') 
              .btn-edit-system.btn-system(data-end_list=list.id)
              .btn-delete-system.btn-system(data-end_list=list.id)
      .rolet-system-item.btn-add-system
        div
          ='+'
        .btn-add-text 
          =i18n.__('Add +')
  include popups/add-new-end-list.pug
  include popups/edit-end-list.pug
  include popups/delete-end-list.pug
  