extends ../../layout

block content
  .main-nav
    .nav-link
      a(href="/")=i18n.__('Dashboard') 
      a(href="/base/shields/rolet/rolet")=i18n.__('rol_boxes')
      span#nav-text
        =i18n.__('rol_guides')
      a(href="/base/shields/rolet/endLists")=i18n.__('rol_endcaps')
      a(href="/base/shields/rolet/lamels")=i18n.__('rol_slats')
      a(href="/base/shields/rolet/roletColorsGroups")=i18n.__('rol_colors')
      a(href="/base/shields/rolet/roletPrice")=i18n.__('rol_prices')
      a(href="/base/shields/rolet/roletBoxHeight")=i18n.__('rol_height')
      a(href="/base/shields/rolet/controls")=i18n.__('rol_control')
      a(href="/base/shields/rolet/controlBoxSizes")=i18n.__('rol_mapping')
      a(href="/base/shields/rolet/addElements")=i18n.__('Add. elements')
      img.loader-ico(src="/assets/images/loader_ico.GIF")
  .main-content    
    .titel-page 
      //- ='Guides :'  
    .block-systems.block-guides
      if (guidesList && guidesList.length > 0)
        each guide in guidesList
          .rolet-system-item
            .system-img
              img(src=(guide.img ? guide.img : '/local_storage/default.png'), alt="")
            .system-name
              =guide.name
            .btns-block-item
              .btn-active-system.btn-active(data-guide=guide.id class=!guide.is_activ ? 'btn-unactive' : 'btn-active') 
              .btn-edit-system.btn-system(data-guide=guide.id)
              .btn-delete-system.btn-system(data-guide=guide.id)
      .rolet-system-item.btn-add-system
        div
          ='+'
        .btn-add-text 
          =i18n.__('Add +')
  include popups/add-new-guide.pug
  include popups/edit-guide.pug
  include popups/delete-guide.pug
  