extends ../../layout

block content
  .main-nav
    .nav-link
      a(href="/")= i18n.__('Dashboard') 
      a(href="/base/shields/rolet/rolet")='Boxes'
      a(href="/base/shields/rolet/Guides")='Guides'
      a(href="/base/shields/rolet/endLists")='End Lists'
      a(href="/base/shields/rolet/lamels")='Lamels'
      a(href="/base/shields/rolet/roletColorsGroups")='Colors'
      span#nav-text
        =' RoletPrice '
      img.loader-ico(src="/assets/images/loader_ico.GIF")
      a(href="/base/shields/rolet/roletBoxHeight")='RoletBoxHeight'
      a(href="/base/shields/rolet/controls")='Controls'
      a(href="/base/shields/rolet/controlBoxSizes")='ControlBoxSizes'
      a(href="/base/shields/rolet/addElements")='AddElements'
  .main-content    
    .nav-sub-link
      a(href="/base/shields/rolet/roletPrice")='Rolet Price'
      a(href="/base/shields/rolet/boxPriceColor")='Box Price Color'
      span#nav-sub-text='Guide Price Color'
      a(href="/base/shields/rolet/endListPriceColor")='EndList Price Color'
      a(href="/base/shields/rolet/lamelPriceColor")='Lamel Price Color'
      //- a(href="/base/shields/rolet/roletBoxColors")='Box Colors'
      //- a(href="/base/shields/rolet/roletGuideColors")='Guide Colors'
      //- a(href="/base/shields/rolet/roletEndListColors")='End List Colors'
      //- a(href="/base/shields/rolet/roletLamelColors")='Lamel Colors'
    .price-table-colors
      .rules-block
        select.select-default.select-rules-price 
          each rule in priceRules
            option(value=rule.id)=rule.name
        span 
          ='(тип наценки)'
      .color-group-box 
        .header-box
        each groupColor in colorGroups
          .group-row(data-id=groupColor.id style="background-color: #{groupColor.img};")
            span 
              =groupColor.name
      .guides-block 
        each guide in guides
          .guide-wrap 
            .guide-name
              span 
                =guide.name
            each groupColor in colorGroups 
              .price-field-color
                input.input-default.rolet-price-input(type="number" data-group-color-id=groupColor.id data-guide-id=guide.id value="" name="")                     
                      
    