extends ../../layout

block content
  .main-nav
    .nav-link
      a(href="/")= i18n.__('Dashboard') 
      | 
      a(href="/base/shields/rolet/rolet")=' -> Rolet'
      |  
      a(href="/base/shields/rolet/guides")=' -> Guides'
      |  
      a(href="/base/shields/rolet/endLists")=' -> End Lists'
      | 
      | -> 
      span#nav-text
        ='Lamels'
      img.loader-ico(src="/assets/images/loader_ico.GIF")
  .main-content    
    .titel-page 
      ='Lamels :'  
    .block-systems.block-lamels
      if (lamelsList && lamelsList.length > 0)
        each lamel in lamelsList
          .rolet-system-item
            .system-img
            .system-name
              =lamel.name
            .btns-block-item
              .btn-active-system.btn-active(data-lamel=lamel.id) 
              .btn-edit-system.btn-system(data-lamel=lamel.id)
              .btn-delete-system.btn-system(data-lamel=lamel.id)
      .rolet-system-item.btn-add-system
        div
          ='+'
        .btn-add-text 
          ='Добавить'
  include popups/add-new-lamel.jade
  include popups/edit-lamel.jade
  include popups/delete-lamel.jade
  