extends ../../layout

block content
  .main-nav
    .nav-link
      a(href="/")= i18n.__('Dashboard') 
      a(href="/base/shields/rolet/rolet")='Boxes'
      a(href="/base/shields/rolet/guides")='Guides'
      a(href="/base/shields/rolet/endLists")='End Lists'
      a(href="/base/shields/rolet/lamels")='Lamels'
      span#nav-text
        ='Colors'
      a(href="/base/shields/rolet/roletPrice")='RoletPrice'
      a(href="/base/shields/rolet/roletBoxHeight")='RoletBoxHeight'
      a(href="/base/shields/rolet/controls")='Controls'
      a(href="/base/shields/rolet/controlBoxSizes")='ControlBoxSizes'
      a(href="/base/shields/rolet/addElements")='AddElements'
      img.loader-ico(src="/assets/images/loader_ico.GIF")
  .main-content
    .nav-sub-link
      a(href="/base/shields/rolet/roletColorsGroups")='Groups and Colors'
      span#nav-sub-text='Box Colors'
      a(href="/base/shields/rolet/roletGuideColors")='Guide Colors'
      a(href="/base/shields/rolet/roletEndListColors")='End List Colors'
      a(href="/base/shields/rolet/roletLamelColors")='Lamel Colors'
    .block-box-colors
      .boxes
        .header-box 
        .boxes-content.box-color-content
          if (boxes.length > 0)
            each box, index in boxes
              .box-item-wrap(style=index % 2 === 0 ? 'background-color: #eae9e9;' : '')
                .box-item(data-box-id=box.id)
                  span(style="text-transform: uppercase; font-weight: bold;") 
                    =box.group_name
                  span
                    =' / ' + box.name
                .box-sizes-wrap
                  each size in box.sizes_box
                    .box-size-item(data-size-id=size.id)
                      .box-size-item-name
                        =size.height + ' / ' + size.width
                      .box-size-item-pvc-alum 
                        .name-pvc 
                          ='PVC'
                        .name-alum
                          ='Alum'
      .colors 
        if (colorsList.length > 0)
          each color in colorsList
            .color-row
              .color-item(data-color-id=color.id)
                .color-name 
                  =color.name
                .color-img(style="background-image: url('#{color.img}')")
              .color-box-rows 
                if (boxes.length > 0)
                  each box in boxes
                    each size in box.sizes_box
                      .color-box-item(data-box-size-id=size.id data-color-id=color.id data-box-id=box.id data-pvc-alum=0)
                        select(id="color-box-select", name="", class="select-default color-box-select")
                          option(
                            value=0 
                            data-color=''
                          )=i18n.__('Ignore')
                          each groupColor in groupsColors
                            option(
                              value=groupColor.id 
                              data-color=groupColor.img
                            )= groupColor.name
                      .color-box-item(data-box-size-id=size.id data-color-id=color.id data-box-id=box.id data-pvc-alum=1)
                        select(id="color-box-select", name="", class="select-default color-box-select")
                          option(
                            value=0 
                            data-color=''
                          )=i18n.__('Ignore')
                          each groupColor in groupsColors
                            option(
                              value=groupColor.id 
                              data-color=groupColor.img
                            )= groupColor.name
                            
                
                    
                        