extends ../../layout

block content
  .main-nav
    .nav-link
      a(href="/")=i18n.__('Dashboard') 
      a(href="/base/shields/rolet/rolet")=i18n.__('rol_boxes')
      a(href="/base/shields/rolet/guides")=i18n.__('rol_guides')
      a(href="/base/shields/rolet/endLists")=i18n.__('rol_endcaps')
      a(href="/base/shields/rolet/lamels")=i18n.__('rol_slats')
      span#nav-text
        =i18n.__('rol_colors')
      a(href="/base/shields/rolet/roletPrice")=i18n.__('rol_prices')
      a(href="/base/shields/rolet/roletBoxHeight")=i18n.__('rol_height')
      a(href="/base/shields/rolet/controls")=i18n.__('rol_control')
      a(href="/base/shields/rolet/controlBoxSizes")=i18n.__('rol_mapping')
      a(href="/base/shields/rolet/addElements")=i18n.__('Add. elements')
      img.loader-ico(src="/assets/images/loader_ico.GIF")
  .main-content
    .nav-sub-link
      a(href="/base/shields/rolet/roletColorsGroups")=i18n.__('Color') + ' / ' + i18n.__('Groups')
      a(href="/base/shields/rolet/roletBoxColors")=i18n.__('box_color')
      a(href="/base/shields/rolet/roletGuideColors")=i18n.__('guides_color')
      span#nav-sub-text=i18n.__('end_profile_color')
      a(href="/base/shields/rolet/roletLamelColors")=i18n.__('lamel_color')
    .block-end-list-colors
      .end-lists
        .header-end-list 
        .end-list-content 
          if (endLists.length > 0)
            each list in endLists
              .end-list-item(data-end-list-id=list.id)
                =list.name
      .colors 
        if (colorsList.length > 0)
          each color in colorsList
            .color-row
              .color-item(data-color-id=color.id)
                .color-name 
                  =color.name
                .color-img(style="background-image: url('#{color.img}')")
              .color-end-list-rows 
                if (endLists.length > 0)
                  each list in endLists
                    .color-end-list-item(data-end-list-id=list.id data-color-id=color.id)
                      select(id="color-end-list-select", name="", class="select-default color-end-list-select")
                        option(
                          value=0 
                          data-color=''
                        )=i18n.__('Ignore')
                        each groupColor in groupsColors
                          option(
                            value=groupColor.id 
                            data-color=groupColor.img
                          )= groupColor.name
                          
                
                    
                        