extends ../../layout

block content
  .main-nav
    .nav-link
      a(href="/")= i18n.__('Dashboard') 
      a(href="/base/shields/rolet/rolet")='Boxes'
      a(href="/base/shields/rolet/Guides")='Guides'
      a(href="/base/shields/rolet/endLists")='End Lists'
      a(href="/base/shields/rolet/lamels")='Lamels'
      a(href="/base/shields/rolet/roletColorsGroups")='Colors'
      span#nav-text
        =' RoletPrice '
      img.loader-ico(src="/assets/images/loader_ico.GIF")
      a(href="/base/shields/rolet/roletBoxHeight")='RoletBoxHeight'
      a(href="/base/shields/rolet/controls")='Controls'
      a(href="/base/shields/rolet/controlBoxSizes")='ControlBoxSizes'
      a(href="/base/shields/rolet/addElements")='AddElements'
  .main-content    
    .nav-sub-link
      span#nav-sub-text='Rolet Price'
      a(href="/base/shields/rolet/boxPriceColor")='Box Price Color'
      a(href="/base/shields/rolet/guidePriceColor")='Guide Price Color'
      a(href="/base/shields/rolet/endListPriceColor")='EndList Price Color'
      a(href="/base/shields/rolet/lamelPriceColor")='Lamel Price Color'
      //- a(href="/base/shields/rolet/roletGuideColors")='Guide Colors'
      //- a(href="/base/shields/rolet/roletEndListColors")='End List Colors'
      //- a(href="/base/shields/rolet/roletLamelColors")='Lamel Colors'
    .price-table 
      .lamels-box 
        .header-box
        each lamel in lamels
          .lamel-row(data-id=lamel.id)
            span 
              =lamel.name
      .groups-box 
        each group in groups
          .group-wrap 
            .group-box-name
              span 
                =group.group.name
            .boxes-box
              each box in group.boxes
                .box-box(data-box-id=box.id) 
                  .box-name 
                    =box.name
                  each lam in lamels 
                    .price-field(data-lamel-id=lam.id data-box-id=box.id)
                      input.input-default.rolet-price-input(type="number" data-lamel-id=lam.id data-box-id=box.id value="" name="")         
                      
    