extends ../../layout

block content
  .main-nav
    .nav-link
      a(href="/")=i18n.__('Dashboard') 
      span#nav-text
        =i18n.__('rol_boxes')
      a(href="/base/shields/rolet/guides")=i18n.__('rol_guides')
      a(href="/base/shields/rolet/endLists")=i18n.__('rol_endcaps')
      a(href="/base/shields/rolet/lamels")=i18n.__('rol_slats')
      a(href="/base/shields/rolet/roletColorsGroups")=i18n.__('rol_colors')
      a(href="/base/shields/rolet/roletPrice")=i18n.__('rol_prices')
      a(href="/base/shields/rolet/roletBoxHeight")=i18n.__('rol_height')
      a(href="/base/shields/rolet/controls")=i18n.__('rol_control')
      a(href="/base/shields/rolet/controlBoxSizes")=i18n.__('rol_mapping')
      a(href="/base/shields/rolet/addElements")=i18n.__('Add. elements')
      img.loader-ico(src="/assets/images/loader_ico.GIF")
  .main-content
    .block-groups
      if (groupSystems.length > 0)
        each groupSystem in groupSystems
          .group-rolet-system-item
            .group-name
              =groupSystem.name
            .btns-block
              .btn-active-group.btn-active(data-group=groupSystem.id class=!groupSystem.is_activ ? 'btn-unactive' : 'btn-active')
              .btn-edit-group(data-group=groupSystem.id)
              .btn-delete-group(data-group=groupSystem.id)
          .block-systems
            if (groupSystem.systems && groupSystem.systems.length > 0)
              each system in groupSystem.systems
                .rolet-system-item
                  .system-img
                    img(src=(system.img ? system.img : '/local_storage/default.png'), alt="")
                  .system-name
                    =system.name
                  .btns-block-item
                    .btn-active-system.btn-active(data-system=system.id class=!system.is_activ ? 'btn-unactive' : 'btn-active') 
                    .btn-edit-system.btn-system(data-system=system.id)
                    .btn-delete-system.btn-system(data-system=system.id)
            .rolet-system-item.btn-add-system(data-group=groupSystem.id)
              div
                ='+'
              .btn-add-text 
                =i18n.__('Add +')
    .btn-add-group
      =i18n.__('Add group +')
  include popups/add-group-system.pug
  include popups/edit-group-system.pug
  include popups/delete-group-system.pug
  include popups/add-new-system.pug
  include popups/edit-system.pug
  include popups/delete-system.pug
  