extends ../../layout

block content
  .main-nav
    .nav-link
      a(href="/")= i18n.__('Dashboard') 
      a(href="/base/shields/rolet/rolet")='Boxes'
      a(href="/base/shields/rolet/guides")='Guides'
      a(href="/base/shields/rolet/endLists")='End Lists'
      a(href="/base/shields/rolet/lamels")='Lamels'
      span#nav-text
        ='Colors'
      a(href="/base/shields/rolet/roletPrice")='RoletPrice'
      a(href="/base/shields/rolet/roletBoxHeight")='RoletBoxHeight'
      img.loader-ico(src="/assets/images/loader_ico.GIF")
  .main-content
    .nav-sub-link
      a(href="/base/shields/rolet/roletColorsGroups")='Groups and Colors'
      a(href="/base/shields/rolet/roletBoxColors")='Box Colors'
      a(href="/base/shields/rolet/roletGuideColors")='Guide Colors'
      a(href="/base/shields/rolet/roletEndListColors")='End List Colors'
      span#nav-sub-text='Lamel Colors'
    .block-lamel-colors
      .lamels
        .header-lamel 
        .lamels-content 
          if (lamels.length > 0)
            each lamel in lamels
              .lamel-item(data-lamel-id=lamel.id)
                =lamel.name
      .colors 
        if (colorsList.length > 0)
          each color in colorsList
            .color-row
              .color-item(data-color-id=color.id)
                .color-name 
                  =color.name
                .color-img(style="background-image: url('#{color.img}')")
              .color-lamel-rows 
                if (lamels.length > 0)
                  each lamel in lamels
                    .color-lamel-item(data-lamel-id=lamel.id data-color-id=color.id)
                      select(id="color-lamel-select", name="", class="select-default color-lamel-select")
                        option(
                          value=0 
                          data-color=''
                        )=i18n.__('Ignore')
                        each groupColor in groupsColors
                          option(
                            value=groupColor.id 
                            data-color=groupColor.img
                          )= groupColor.name
                          
                
                    
                        