extends ../../layout

block content
  .main-nav
    .nav-link
      a(href="/")= i18n.__('Dashboard') 
      a(href="/base/shields/rolet/rolet")='Boxes'
      a(href="/base/shields/rolet/guides")='Guides'
      a(href="/base/shields/rolet/endLists")='End Lists'
      a(href="/base/shields/rolet/lamels")='Lamels'
      span#nav-text
        ='Colors'
      a(href="/base/shields/rolet/roletPrice")='RoletPrice'
      a(href="/base/shields/rolet/roletBoxHeight")='RoletBoxHeight'
      a(href="/base/shields/rolet/controls")='Controls'
      a(href="/base/shields/rolet/controlBoxSizes")='ControlBoxSizes'
      img.loader-ico(src="/assets/images/loader_ico.GIF")
  .main-content
    .nav-sub-link
      a(href="/base/shields/rolet/roletColorsGroups")='Groups and Colors'
      a(href="/base/shields/rolet/roletBoxColors")='Box Colors'
      span#nav-sub-text='Guide Colors'
      a(href="/base/shields/rolet/roletEndListColors")='End List Colors'
      a(href="/base/shields/rolet/roletLamelColors")='Lamel Colors'
    .block-guide-colors
      .guides
        .header-guide 
        .guides-content 
          if (guides.length > 0)
            each guide in guides
              .guide-item(data-guide-id=guide.id)
                =guide.name
      .colors 
        if (colorsList.length > 0)
          each color in colorsList
            .color-row
              .color-item(data-color-id=color.id)
                .color-name 
                  =color.name
                .color-img(style="background-image: url('#{color.img}')")
              .color-guide-rows 
                if (guides.length > 0)
                  each guide in guides
                    .color-guide-item(data-guide-id=guide.id data-color-id=color.id)
                      select(id="color-guide-select", name="", class="select-default color-guide-select")
                        option(
                          value=0 
                          data-color=''
                        )=i18n.__('Ignore')
                        each groupColor in groupsColors
                          option(
                            value=groupColor.id 
                            data-color=groupColor.img
                          )= groupColor.name
                          
                
                    
                        