extends ../../layout

block content
  .main-nav
    .nav-link
      a(href="/")= i18n.__('Dashboard') 
      | 
      | -> 
      span#nav-text
        ='Rolet'
      | 
      a(href="/base/shields/rolet/guides")=' -> Guides'
      | 
      a(href="/base/shields/rolet/endLists")=' -> End Lists'
      | 
      a(href="/base/shields/rolet/lamels")=' -> Lamels'
      img.loader-ico(src="/assets/images/loader_ico.GIF")
  .main-content
    .block-groups
      if (groupSystems.length > 0)
        each groupSystem in groupSystems
          .group-rolet-system-item
            .group-name
              =groupSystem.name
            .btns-block
              .btn-active-group.btn-active(data-group=groupSystem.id)
              .btn-edit-group(data-group=groupSystem.id)
              .btn-delete-group(data-group=groupSystem.id)
          .block-systems
            if (groupSystem.systems && groupSystem.systems.length > 0)
              each system in groupSystem.systems
                .rolet-system-item
                  .system-img
                  .system-name
                    =system.name
                  .btns-block-item
                    .btn-active-system.btn-active(data-system=system.id) 
                    .btn-edit-system.btn-system(data-system=system.id)
                    .btn-delete-system.btn-system(data-system=system.id)
            .rolet-system-item.btn-add-system(data-group=groupSystem.id)
              div
                ='+'
              .btn-add-text 
                ='Добавить'
    .btn-add-group
      ='Добавить группу Коробов'
  include popups/add-group-system.jade
  include popups/edit-group-system.jade
  include popups/delete-group-system.jade
  include popups/add-new-system.jade
  include popups/edit-system.jade
  include popups/delete-system.jade
  