extends layout

block content
  .wrapper-network
    .main-nav
      .nav-link
        a(class="external-link", href="/")= i18n.__('Dashboard') 
        | 
        | -> 
        a(href="/mynetwork")=i18n.__('settingsAndNetwork')
        | 
        | -> 
        span#nav-text
          =i18n.__('Add new user') 
    .edit-form.add_user_width
        form#submit-new-user(action="/mynetwork/add_user/add-new-user" method="POST")
          .add_user_block
            img#user-avatar(src="/assets/images/avatar.png", alt="")
            input(id="user-avatar-input" name="avatar" type="file").hide-input
            a.add-av#add-user-avatar(href="#")
              =i18n.__('Add avatar')
          .wrapper-input
            p.user-name_form
              =i18n.__('User ID')
            input.user_form.user_form_id#user-short-id(type="text" name="shortId" placeholder="--")
          .wrapper-input
            p.user-name_form
              =i18n.__('Name')
              img.optional_pic(src="/assets/images/11.png", alt="")
            input.user_form#user-name(type="text" name="name" placeholder="Ф.И.О.")
          .wrapper-input
            p.user-name_form
              =i18n.__('Login_u_k')
              img.optional_pic(src="/assets/images/11.png", alt="")
            input.user_form#user-mob-phone(type="text" name="mobPhone")
          .wrapper-input
            p.user-name_form
              =i18n.__('Password')
              img.optional_pic(src="/assets/images/11.png", alt="")
            input.user_form#user-password(type="password" name="password")
          .wrapper-input
            p.user-name_form
              =i18n.__('E-mail')
            input.user_form#user-email(type="text" name="email")
          .wrapper-input
            p.user-name_form
              =i18n.__('Phone_u')
            input.user_form#user-city-phone(type="tel" name="cityPhone" placeholder="")
          .wrapper-input
            p.user-name_form
              =i18n.__('Fax')
            input.user_form#user-fax(type="text" name="fax")
          .wrapper-input
            p.user-name_form
              =i18n.__('Country')
              img.optional_pic(src="/assets/images/11.png", alt="")
            select.user_form.select-default#user-country
              each country in location.countries
                option(value=country.id selected=(location.countryId === country.id ? 'selected' : undefined))=country.name
          .wrapper-input
            p.user-name_form
              =i18n.__('Region')
              img.optional_pic(src="/assets/images/11.png", alt="")
            select.user_form.select-default#user-region
              each region in location.regions
                option(value=region.id selected=(location.regionId === region.id ? 'selected' : undefined))=region.name
          .wrapper-input
            p.user-name_form
              =i18n.__('City')
              img.optional_pic(src="/assets/images/11.png", alt="")
            select.user_form.select-default#user-city(name="cityId")
              each city in location.cities
                option(value=city.id selected=(location.cityId === city.id ? 'selected' : undefined))=city.name
          .wrapper-input
            p.user-name_form
              =i18n.__('Address')
            input.user_form#user-address(type="text" name="address")
          .save-user
            input.form-save#add-user-submit(type="button" value=i18n.__('Add'))
