.edit-hardware-item-pop-up(style="display: none;")
  #edit-hardware-item-pop-up-close-wrap
    a(id="edit-hardware-item-pop-up-close", href="#")
  span#edit-hardware-item-pop-up-header
    =i18n.__('Edit hardware')
  .hardware-name-pop-up(id="")
  .item-direction-color-length-num-text
    span.item-direction-pop-up
      =i18n.__('Direction')
      | :
    span.item-lamination-pop-up
      =i18n.__('Inner window color')
      | :
    span.item-lamination-pop-up
      =i18n.__('outerColor')
      | :
    span.item-num-pop-up
      =i18n.__('Amount')
      | :
  .item-direction-color-length-num-input
    span.item-direction-pop-up
      select(class="select-default", id="select-direction-id", style="width: 120px;")
        option(value="1")=i18n.__('Ignore')
        option(value="2")=i18n.__('Right-hand')
        option(value="3")=i18n.__('Left-hand')
    span.item-lamination-pop-up
      select(class="select-default", id="select-lamination-id", style="width: 125px;")
        option(value="4")=i18n.__('Ignore')
        option(value="1")=i18n.__('Inner')
        option(value="2")=i18n.__('Outer')
        option(value="3")=i18n.__('Two-sided')
    span.item-lamination-pop-up
      select(class="select-default", id="select-lamination-out-id", style="width: 125px;")
        option(value="4")=i18n.__('Ignore')
        option(value="1")=i18n.__('Inner')
        option(value="2")=i18n.__('Outer')
        option(value="3")=i18n.__('Two-sided')
    span.item-num-pop-up
      input(class="input-default", id="num-input", type="text", value="0", style="width: 60px;")
  .item-length-select
    span.item-length-pop-up
      =i18n.__('Length')
      | : 
    select(name="item_rule_length_edit", id="item_rule_length_edit", class="select-default input-margin", style="width: 255px;")
      option(value="21")=i18n.__('Less than the width of the parent')
      option(value="22")=i18n.__('Less than the height of the parent')
      option(value="25")=i18n.__('Ignore')
    select(name="item_rule_square_edit", id="item_rule_square_edit", class="select-default input-margin", style="width: 255px;")
      option(value="1" selected="selected")=i18n.__('Is less than parent')
    span.item-length-pop-up
      input(class="input-default", id="length-input-edit", type="text", value="0", style="width: 60px;")
  .item-height-width-pop-up-text
    span.item-width-pop-up
      =i18n.__('Width (mm)')
      | :
    span.item-height-pop-up
      =i18n.__('Height (mm)')
      | :
    span.item-position-pop-up
      =i18n.__('Position')
      | :
  .item-height-width-pop-up-input
    span.item-width-pop-up
      | min 
      input(class="input-default", id="min_width", type="text", value="0", style="width: 30px;") 
      | 
      | max 
      input(class="input-default", id="max_width", type="text", value="0", style="width: 30px;")
    span.item-height-pop-up
      | min 
      input(class="input-default", id="min_height", type="text", value="0", style="width: 30px;") 
      | 
      | max 
      input(class="input-default", id="max_height", type="text", value="0", style="width: 30px;")
    span.item-position-pop-up
      select(class="select-default", id="select-position-id-edit", style="width: 120px;")
        option(value="1")=i18n.__('Ignore')
        option(value="2")=i18n.__('front')
        option(value="3")=i18n.__('middle')
        option(value="4")=i18n.__('back')
  .item-save
    a(id="hardware-save-pop-up-btn", href="#", type="button")
      span#hardware-save-pop-up-btn-text
        =i18n.__('Save')